body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  background-color: burlywood;
  border-radius: 10px;
  border: 1px solid grey;
}

.container {
  width: 150px;
  height: 50px;
}
