body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  background-color: burlywood;
  border-radius: 10px;
  border: 1px solid grey;
  transition: all 0.3s;
}
button:hover {
  background-color: rgb(202, 245, 182);
  border: 1px solid rgb(32, 92, 4);
  transform: translate(20px, 0);
  transition: all 0.3s;
}

.container {
  width: 150px;
  height: 50px;
}
